* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(https://images.wallpaperscraft.com/image/trees_top_view_forest_119826_3840x2160.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/*menu*/

.container-fluid img {
    height: 120px;
}

/*CARDS*/
.row img {
    width: 450px;
    height: 200px;
}

.row {
    width: 600px;
}
