@import 'variables';
@import 'index';


/* 
body {
    background-image: url(https://images.wallpaperscraft.com/image/trees_top_view_forest_119826_3840x2160.jpg);
    margin: 0;
    padding: 0;
    a {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.container-fluid {
    height: 120px;
    img {
        height: 120px;
    }
}

.rowT {
    background-color: white;
    width: 100%;
    p {
        font-style: bold;
        font-size: 40px;
    }
    .col-6 {
        display: flex;
        flex-direction: column;
    }
}
footer {
    ul {
    background-color: rgb(167, 245, 167);
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
        li{
        display: inline-block;
        list-style: none ;
        color: rgb(12, 24, 14);
        padding: 5px;
        &:hover {
            background-color: green;
        }
     }
    }
}

*/